################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSCode_Extension_WCML_Markup/wcmt
